.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.is-done {
    opacity: 0.5;
}

.active-filter {
    background-color: aquamarine;
}

.error {
    border: red 1px solid;
    outline: none;
    background-color: #f3eeee;
}

.error-message {
    color: red;
}